/* Based on the original Style Sheet for the integrastyle v2 Theme for phpBB version 2+
Edited by Daz  - http://www.forumimages.com - last updated 26-06-03 */

/* The content of the posts (body of text) */
body{background:#ecf0f6;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
}

/* General font families for common tags */
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}

/* General text */
.gensmall{font-size:10px}
.copyright{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#5c81b1}

/* General page style */
a:link,a:active,a:visited,a.postlink{color:#006699;text-decoration:none}
a:hover{color:#dd6900;}

a.boxtitle:link,a.boxtitle:active,a.boxtitle:visited{color:#DEEEF3;text-decoration:none;}
.boxtitle {color:#DEEEF3;}
a.boxtitle:hover{color:#dd6900;}

/* titles for the topics:could specify viewed link colour too */
.topictitle{font-size:11px;font-weight:bold}
a.topictitle:visited{color:#5493b4}
a.topictitle:hover{color:#dd6900}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:11px;font-weight: bold}

hr{border: 0px solid #ffffff;border-top-width:1px;height:0px}

/* Category gradients*/
td.cat{font-weight:bold;letter-spacing:1px;background:#d9e2ec url(../images/cellpic1.gif);
height:29px;text-indent:4px}

/* Main table cell colours and backgrounds */
.row1{background:#eaedf4}
.row2,.helpline{background:#d9e2ec}
.row3{background:#cedcec}
td.spacerow{background:#cad9ea}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic{background:url(../images/cellpic2.jpg) #ffffff repeat-y}

/* Table Header cells */
th{background:#005eb2 url(../images/cellpic3.gif);color:#deeef3;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}

th a:link,th a:active,th a:visited,th a.postlink{color:#deeef3;text-decoration:none}
th a:hover{color:#dd6900;}


/* This is the border line & background colour round the entire page */
.bodyline{background:#ffffff;border:1px solid #98aab1}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #006699}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#5c81b1}

.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}
.postbody{font-size:12px;line-height:125%}

/* Location,number of posts,post date etc */
.postdetails{font-size:10px;color:#00396a}

/* Quote blocks */
.quotetitle,.quote {color:#475e61;font-size:11px;border: 1px solid #a4bad2;padding:2px 2px 3px 3px}
.quotetitle {background:#e1e7ec;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.quote {background:#fafafa;border-top-width:0;color:#cc6633;font-size:11px;margin:0 20px 10px 20px}
.quote {overflow:auto;height:100px}

/* Code blocks */
.codetitle,.code {border:1px solid #a4bad2;padding:2px 2px 3px 3px}
.codetitle {font-size:11px;background: #d8dfe4;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.code {background:#fafafa;border-top-width:0;color:#555;font:13px Courier,'Courier New',sans-serif;margin:0 20px 0 20px;line-height:110%}
.code {overflow:auto;height:100px}
.code {color:#2151AD}

/* PHP blocks */
.phptitle,.php {border:1px solid #a4bad2;padding:2px 2px 3px 3px}
.phptitle {font-size:11px;background: #d8dfe4;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.php {background:#fafafa;border-top-width:0;color:#555;font:13px Courier,'Courier New',sans-serif;margin:0 20px 0 20px;line-height:110%}
.php {overflow:auto;height:100px}
.php {color:#060}

/* This is for the error messages that pop up */
.errorline{background:#add8e6;border:1px solid #006699}

/* Form elements */
form{display:inline}

input{font:11px Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:11px Verdana,Arial,Helvetica,sans-serif}

input.post,textarea.post{background:#ffffff;border:1px solid #000000;
font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

input.button,input.liteoption,.fakebut{border:1px solid #000000;background:#fafafa;font-size:11px}
input.catbutton{border:1px solid #000000;background:#fafafa;font-size:10px}
input.mainoption{border:1px solid #000000;background:#fafafa;font-size:11px;font-weight:bold}

a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}

/* This is the line in the posting page which shows the rollover
help line. Colour value in row2 */
.helpline{border:0 solid;font-size:10px}

/* This is the gradient background at the top of the page */
.topbkg{background: #dbe3ee url(../images/cellpic_bkg.jpg) repeat-x}
.topnav{font-size:11px; font-weight:bold; background: url(../images/cellpic_nav.gif) repeat-x;height:25px;white-space:nowrap;}
.headerdiv{background: url(../images/cellpic_div.gif) repeat-x;height:3px;white-space:nowrap;}
.qb  { background: #d1d7dc url(../images/cellpic_nav.gif) top center repeat-x; height: 25px; width:100%; }
td.qnav{white-space:nowrap;text-align:center;width:100%;}
.top span{display: block;width:20px;height:25px;background: url(../images/btm.gif) no-repeat;}
.btm span{display: block;width:20px;height:25px;background: url(../images/top.gif) no-repeat;}

/* Admin & Moderator Colours MODification */
.admin,.mod{font-size:11px;font-weight:bold}
.admin,a.admin,a.admin:visited{color:#ffa34f}
.mod,a.mod,a.mod:visited{color:#006600}
a.admin:hover,a.mod:hover{color:#dd6900}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}

/*-- mod : profile cp --*/
.foundercolor, a.foundercolor, a.foundercolor:link, a.foundercolor:active, a.foundercolor:visited {
	color: #FF0000;
	font-weight: bold;
}
a.foundercolor:hover {
	color:	#FF0000;
	text-decoration: underline;
}
.jadmincolor, a.jadmincolor, a.jadmincolor:link, a.jadmincolor:active, a.jadmincolor:visited {
	color: #129DED;
	font-weight: bold;
}
a.jadmincolor:hover {
	color:	#129DED;
	text-decoration: underline;
}
.admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited {
	color: #FFA34F;
	font-weight: bold;
}
a.admincolor:hover {
	color:	#FF0000;
	text-decoration: underline;
}

.modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited {
	color: #006600;
	font-weight: bold;
}
a.modcolor:hover {
	color:	#008000;
	text-decoration: underline;
}

.usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {
	color : #000000;
	font-weight: bold;
}
a.usercolor:hover {
	color: #DD6900;
	text-decoration: underline;
}
/*-- fin mod : profile cp --*/

abbr, acronym {
	font-weight: bold;
	text-decoration: overline;
	cursor: help;
}

.acronym{background:#FFFFCC}

.alert{color:#FF3300}

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(../images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(../images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(../images/tb4_r.gif) no-repeat;width:8px}

#rightborder{
	border-right:1px solid #CECECE;
	background: #eaedf4;
    width:10px;
}
.rightborder1{
	border-right:1px solid #CECECE;
}
.leftcolumn1{
	background: #eaedf4;
}
.leftcolumn{
	background: #eaedf4;
	margin-top:0px;
}

.headerbot3{background: url(../images/header_bot3.gif) repeat-x;width:100%}
.rightheader{background:#005eb2 url(../images/cellpic3.gif);color:#deeef3;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}
.forumline2{background:#ffffff;border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc}
.blocktitle{font-size:18px;font-weight:bold;color:#f26521}
.sideblocktitle{font-size:13px;font-weight:bold;color:#0066CC;padding:10px 0 5px 0;}

.blkt{border-collapse:collapse;height:15px;width:100%}
.blktl{background: url(../images/blocktl.gif) no-repeat;width:10px}
.blktm{background: url(../images/blockt.gif) repeat-x;width:100%}
.blktr{background: url(../images/blocktr.gif) no-repeat;width:10px}

.blkb{border-collapse:collapse;height:17px;width:100%}
.blkbl{background: url(../images/blockbl.gif) no-repeat;width:62px}
.blkbm{background: url(../images/blockb.gif) repeat-x;width:100%}
.blkbr{background: url(../images/blockbr.gif) no-repeat;width:10px}

.mainmenu, a.mainmenu, a.mainmenu:link, a.mainmenu:active, a.mainmenu:visited {
	color: #FFFFFF;
	font-weight: bold;
}
a.mainmenu:hover {
	color:	#FFFF00;
	text-decoration: underline;
}
.date-future, .last-post b { color: #F8BA00; font-size: 11px; font-weight: normal; }
.date-today, .last-post b { color: #BA1A1A; font-size: 11px;  font-weight: normal; }
.date-yesterday, .last-post em { color: #189E35; font-size: 11px;  font-weight: normal; }

/* Mighty Gorgon - Full Album Pack - BEGIN */
.forumline_left {
	background-color: #EAEDF4;
	border-bottom: 2px #006699 solid;
	border-left: 2px #006699 solid;
}

.tab_links, a.tab_links:hover, a.tab_links:link, a.tab_links:active, a.tab_links:visited { 
	font-size: 11px;
	color: #FF8866; 
	text-decoration: none;
}

.tab_links_unsel, a.tab_links_unsel:hover, a.tab_links_unsel:link, a.tab_links_unsel:active, a.tab_links_unsel:visited { 
	font-size: 11px;
	color: #FFFFAA; 
	text-decoration: none;
}

a.tab_links:hover, a.tab_links_unsel:hover { 
	text-decoration: underline;
}

.tab_headers, th.tab_headers {
	color: #FF8866; 
	font-size: 11px; 
	font-weight : bold;
	padding-left: 4px;
	padding-right: 8px;
	border: #003366; 
	border-style: solid; 
	border-width: 1px 1px 0px 1px;
	background-color: #006699;
}

.tab_headers_unsel, th.tab_headers_unsel {
	color: #FFFFAA; 
	font-size: 11px; 
	font-weight : bold;
	padding-left: 4px;
	padding-right: 8px;
	border: #336699; 
	border-style: solid; 
	border-width: 1px 1px 0px 1px;
	background-color: #6699AA;
}

.tab_border {
	background-color: #888888;
	border: 1px;
}

.filler, th.filler {
	background-color:#6699AA; 
	background-image:none;
}

.picframe{
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 2px 6px 2px 6px;
	position: relative;
	bottom: 2px;
	right: 2px;
}

.picshadow{
	background-color: #888888;
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
}
/* Mighty Gorgon - Full Album Pack - END */

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(../images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(../images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(../images/tb4_r.gif) no-repeat;width:8px}


.clear-fix {
    display: block;
    clear: both;
}

 .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }

.clearfix {display: inline-block;}  /* for IE/Mac */

.space {
	margin: 4px auto 10px auto;
}

.openclose {
    background: transparent url('../images/icon_openclose.png') no-repeat;
    display: block;
	float:right;
	width:15px;
	height:15px;
}

a.kb {
    background: transparent;
    display: block;
    float: left;
    font: bold 40px 'Nunito', sans-serif;
	text-shadow: 2px 2px 2px #0088FF;
    height: 75px;
    margin-right: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	text-transform:capitalize;

}

a.kb:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.kb span {
    display: block;
    line-height: 65px;
    padding: 6px 20px 4px 30px;
    color: #EAEDF4;
	appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
}

a.kb:hover span {
    background-position: bottom left;
    padding: 6px 20px 4px 30px;
}

ul.lft{padding:0px;margin:0px;list-style-type: none;display: inline-block;}
li.pcpvt {display: inline-block;vertical-align: bottom;}

@media screen and (max-width: 900px){
	.idx { 
		display:block;
		margin-top: 10px;
 	}
}	

@media only screen and (max-width: 767px) {
    html { 
    -webkit-text-size-adjust: 100%;
    }
	.topics, .posts, .views, .replies, .searchbar {
	  display: none !important;
	}
}

@media only screen and (max-width: 400px) {
	.author, .topics, .posts, .views, .replies, .searchbar {
		display: none !important;
	}
}