IM150/var_cache/cache_*
IM150/cache/*.php
IM150/modules/cache/**/*.php
IM150/modules/cache/**/*.php.html
IM150/backups/*.sql

## Windows

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

## Mac
.DS_Store