@import url("blue_buttons.css");

/* Based on the original Style Sheet for the fisubsilver v2 Theme for phpBB version 2+
Edited by Auke Douma  - http://www.douma.ws - last updated 09/09/2004 */

/* The content of the posts (body of text) */
body{background:#ECF0F6;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
}

/* General font families for common tags */
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}

/* General text */
.gensmall{font-size:10px}
.copyright{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#5c81b1}

/* General page style */
a:link,a:active,a:visited,a.postlink{color:#32475f;text-decoration:none}
a:hover{color:#3892E0;text-decoration:none}

/* titles for the topics:could specify viewed link color too */
.topictitle{font-size:11px;font-weight:bold}
a.topictitle:visited{color:#496687}
a.topictitle:hover{color:#3892E0}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:11px;font-weight: bold}

hr{border: 0px solid #587DA3;border-top-width:1px;height:0px}

/* Category gradients*/
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom{font-weight:bold;letter-spacing:1px;color:#516a88;background:#90C2ED url(images/blue/cellpic1.gif);
height:29px;text-indent:4px}

/* Main table cell colors and backgrounds */
.row1{background:#F9F9F9}
.row2,.helpline{background:#E1E9F2}
.row3{background:#97C6EE}
td.spacerow{background:#AAD0F1}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic{background:url(images/blue/cellpic2.jpg) #ffffff repeat-y}

/* Table Header cells */
th{background:#89BFEC url(images/blue/cellpic3.gif);color:#516a88;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}

/* This is the border line & background color round the entire page Binnekantpaginablock */
.bodyline{background:#f7f8fc;border:1px solid #98aab1}


/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #486386}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#3892E0;margin:0 0 0 20px;}

.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}
.postbody{font-size:12px;line-height:125%}

/* Location,number of posts,post date etc */
.postdetails{font-size:10px;color:#00396a}

/* Quote blocks */
.quotetitle,.quote {color:#475e61;font-size:11px;border: 1px solid #a4bad2;padding:2px 2px 3px 3px}
.quotetitle {background:#e1e7ec;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.quote {background:#FFFFFF;border-top-width:0;color:#cc6633;font-size:11px;margin:0 20px 10px 20px}
.quote {overflow:auto;height:40px}

/* Code blocks */
.codetitle,.code {border:1px solid #a4bad2;padding:2px 2px 3px 3px}
.codetitle {font-size:11px;background: #d8dfe4;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.code {background:#FFFFFF;border-top-width:0;color:#555;
font:13px Courier,'Courier New',sans-serif;margin:0 20px 0 20px;line-height:110%}
.code {overflow:auto;height:40px}
.code {color:#060}

/* PHP blocks */
.phptitle,.php {border:1px solid #a4bad2;padding:2px 2px 3px 3px}
.phptitle {font-size:11px;background: #d8dfe4;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.php {background:#FFFFFF;border-top-width:0;color:#555;
font:13px Courier,'Courier New',sans-serif;margin:0 20px 0 20px;line-height:110%}
.php {overflow:auto;height:40px}
.php {color:#060}

/* This is for the error messages that pop up */

.errorline{background:#add8e6;border:1px solid #000000}

/* Form elements */
form{display:inline}

input{font:11px Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:11px Verdana,Arial,Helvetica,sans-serif}

input.post,textarea.post{background:#ffffff;border:1px solid #000000;
font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

input.button,input.liteoption,.fakebut{border:1px solid #000000;background:#CDE0FC;font-size:11px}
input.catbutton{border:1px solid #000000;background:#CDE0FC;font-size:10px}
input.mainoption{border:1px solid #000000;background:#CDE0FC;font-size:11px;font-weight:bold}

a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}

/* This is the line in the posting page which shows the rollover
help line. Color value in row2 */
.helpline{border:0 solid;font-size:10px}

/*-- mod : profile cp --*/
.foundercolor, a.foundercolor, a.foundercolor:link, a.foundercolor:active, a.foundercolor:visited {
	color: #FF0000;
	font-weight: bold;
}
a.foundercolor:hover {
	color:	#FF0000;
	text-decoration: underline;
}
.jadmincolor, a.jadmincolor, a.jadmincolor:link, a.jadmincolor:active, a.jadmincolor:visited {
	color: #129DED;
	font-weight: bold;
}
a.jadmincolor:hover {
	color:	#129DED;
	text-decoration: underline;
}
.admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited {
	color: #FFA34F;
	font-weight: bold;
}
a.admincolor:hover {
	color:	#FF0000;
	text-decoration: underline;
}

.modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited {
	color: #006600;
	font-weight: bold;
}
a.modcolor:hover {
	color:	#008000;
	text-decoration: underline;
}

.usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {
	color : #000000;
	font-weight: bold;
}
a.usercolor:hover {
	color: #DD6900;
	text-decoration: underline;
}
/*-- fin mod : profile cp --*/

/* This is the gradient background at the top of the page */
.topbkg{background: url(images/blue/cellpic_bkg.jpg) repeat-x}
.topnav{font-size:10px;background: #82BBEB url(images/blue/cellpic_nav.gif) repeat-x;height:28px;white-space:nowrap;border-top: 1px solid #BDD6FC; border-bottom: 1px solid #91a0ae;}
td.qnav{white-space:nowrap;text-align:center;width:100%;}
.qb  { font-size:10px;background: #b0c4d8 url(images/blue/cellpic_nav.gif) repeat-x;height:28px;white-space:nowrap;border-top: 1px solid #BDD6FC; border-bottom: 1px solid #91a0ae;}
.openclose {background: transparent url('images/blue/icon_openclose.png') no-repeat;display: block;float:right;width:15px;height:15px;}

/* Nav bar images */
.hdr_left{	background: url(images/blue/navtr.gif) top left no-repeat;
}
.hdr_right{ background: url(images/blue/navtl.gif) top right no-repeat;
}
.ftr_left{	background: url(images/blue/navbr.gif) top left no-repeat;
}
.ftr_right{ background: url(images/blue/navbl.gif) top right no-repeat;
}

/* Admin & Moderator Colors MODification */
.admin,.mod{font-size:11px;font-weight:bold}
.admin,a.admin,a.admin:visited{color:#ff0000}
.mod,a.mod,a.mod:visited{color:#006600}
a.admin:hover,a.mod:hover{color:#008000}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}

abbr, acronym {
	font-weight: bold;
	text-decoration: underline;
	cursor: help;
}

.acronym{background:#FFFFCC}

.alert{color:#FF3300}

/* Mighty Gorgon - Full Album Pack - BEGIN */
.forumline_left {
	background-color: #7A7A7A;
	border-bottom: 2px #7A7A7A solid;
	border-left: 2px #7A7A7A solid;
}

.tab_links, a.tab_links:hover, a.tab_links:link, a.tab_links:active, a.tab_links:visited { 
	font-size: 11px;
	color: #FF8866; 
	text-decoration: none;
}

.tab_links_unsel, a.tab_links_unsel:hover, a.tab_links_unsel:link, a.tab_links_unsel:active, a.tab_links_unsel:visited { 
	font-size: 11px;
	color: #FFFFAA; 
	text-decoration: none;
}

a.tab_links:hover, a.tab_links_unsel:hover { 
	text-decoration: underline;
}

.tab_headers, th.tab_headers {
	color: #FF8866; 
	font-size: 11px; 
	font-weight : bold;
	padding-left: 4px;
	padding-right: 8px;
	border: #003366; 
	border-style: solid; 
	border-width: 1px 1px 0px 1px;
	background-color: #006699;
}

.tab_headers_unsel, th.tab_headers_unsel {
	color: #FFFFAA; 
	font-size: 11px; 
	font-weight : bold;
	padding-left: 4px;
	padding-right: 8px;
	border: #336699; 
	border-style: solid; 
	border-width: 1px 1px 0px 1px;
	background-color: #6699AA;
}

.tab_border {
	background-color: #888888;
	border: 1px;
}

.filler, th.filler {
	background-color:#6699AA; 
	background-image:none;
}

.picframe{
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 2px 6px 2px 6px;
	position: relative;
	bottom: 2px;
	right: 2px;
}

.picshadow{
	background-color: #888888;
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
}
/* Mighty Gorgon - Full Album Pack - END */

.date-today, .last-post b { color: #E61A1A; font-weight: bold; }
.date-yesterday, .last-post em { color: #18C935; font-weight: bold; font-style: italic; }

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(images/blue/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(images/blue/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(images/blue/tb4_r.gif) no-repeat;width:8px}

.clear-fix {
    display: block;
    clear: both;
}

 .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }

.clearfix {display: inline-block;}  /* for IE/Mac */

.space {
	margin: 4px auto 10px auto;
}

.openclose {
    background: transparent url('images/blue/icon_openclose.png') no-repeat;
    display: block;
	float:right;
	width:15px;
	height:15px;
}

a.kb {
    background: transparent;
    display: block;
    float: left;
    font: bold 40px 'Nunito', sans-serif;
	text-shadow: 2px 2px 2px #0088FF;
    height: 75px;
    margin-right: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	text-transform:capitalize;

}

a.kb:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.kb span {
    display: block;
    line-height: 65px;
    padding: 6px 20px 4px 30px;
    color: #EAEDF4;
	appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
}

a.kb:hover span {
    background-position: bottom left;
    padding: 6px 20px 4px 30px;
}