body {
	background-color: #E5E5E5;
	text-align: center;
}

a:link, a:active, a:visited
{ 
	color : #006699;
	text-decoration: none;
}

.prill_widelogo
{
	width: 97%;
	text-align: center;
	border: 1px #006699 solid;
	padding: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #D1D7DC;
	font-weight: bold;
	margin: 3px;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.head_msg, .bold
{
	font-weight: bold;
}

.err_msg
{
	font-weight: bold;
	color: red;
}

.success_msg
{
	font-weight: bold;
	color: green;
}

.query_msg
{
	font-style: italic;
	color: purple;
}

.thanks
{
	border: 1px #006699 solid;
	padding: 4px;
	background-color: #DEE3E7;
	font-size: 11px;
	width: 97%;
	text-align: left;
	margin: 3px;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.step
{
	font-weight: bold;
	border: 1px #006699 solid;
	padding: 4px;
	background-color: #D1D7DC;
	font-size: 12px;
	width: 97%;
	text-align: left;
	margin: 3px;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.mainbody
{
	border: 1px #006699 solid;
	padding: 4px;
	background-color: #FFFFFF;
	font-size: 12px;
	width: 97%;
	text-align: left;
	margin: 3px;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.proceed
{
	font-weight: bold;
	border: 1px #006699 solid;
	padding: 4px;
	background-color: #D1D7DC;
	font-size: 12px;
	width: 97%;
	text-align: right;
	margin: 3px;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}