/*  fisubice Language Buttons
    --------------------------------------------------------------
	Style name:			fisubice
	Based on style:		subSilver 		( the default phpBB 2 style )
	Original author:	subBlue 		( http://www.subBlue.com/ )
	Modified by:		HelterSkelter 	( http://www.forumimages.us/ )
	
	This is an alternative button style for subsilver2 eliminating the need for different button images for every installed language
	
	Copyright 2010 fiteam ( http://www.forumimages.us/ )
    --------------------------------------------------------------
*/
a.button_new {
    background: transparent url('../images/buttons/button_rt.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
	letter-spacing:-.5px;
    height: 25px;  /* this is 1/2 of the full button image height */
    margin-right: 6px;
    padding-right: 12px;
	text-transform:lowercase;
}

a.button_new:hover {
    background-position: center right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.button_new span {
    background: transparent url('../images/buttons/button_post.gif') no-repeat;
    display: block;
    line-height: 15px;  /* line height + top padding + bottom padding should equal 1/2 of the full button image height */
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}

a.button_new:hover span {
    background-position: bottom left;
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}

a.button_reply {
    background: transparent url('../images/buttons/button_rt.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
	letter-spacing:-.5px;
    height: 25px;  /* this is 1/2 of the full button image height */
    margin-right: 6px;
    padding-right: 12px;
	text-transform:lowercase;
}

a.button_reply:hover {
    background-position: center right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.button_reply span {
    background: transparent url('../images/buttons/button_reply.gif') no-repeat;
    display: block;
    line-height: 15px;  /* line height + top padding + bottom padding should equal 1/2 of the full button image height */
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}

a.button_reply:hover span {
    background-position: center left;
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}



a.button_qreply {
    background: transparent url('../images/buttons/button_rt.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
	letter-spacing:-.5px;
    height: 25px;  /* this is 1/2 of the full button image height */
    margin-right: 6px;
    padding-right: 12px;
	text-transform:lowercase;
}

a.button_qreply:hover {
    background-position: center right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.button_qreply span {
    background: transparent url('../images/buttons/button_reply.gif') no-repeat;
    display: block;
    line-height: 15px;  /* line height + top padding + bottom padding should equal 1/2 of the full button image height */
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}

a.button_qreply:hover span {
    background-position: center left;
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}

a.button_qreply:active span {
    background-position: bottom left;
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}


a.button_lock {
    background: transparent url('../images/buttons/button_rt.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
	letter-spacing:-.5px;
    height: 25px;  /* this is 1/2 of the full button image height */
    margin-right: 6px;
    padding-right: 12px;
	text-transform:lowercase;
}

a.button_lock:hover {
    background-position: center right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.button_lock span {
    background: transparent url('../images/buttons/button_lock.gif') no-repeat;
    display: block;
    line-height: 15px;  /* line height + top padding + bottom padding should equal 1/2 of the full button image height */
    padding: 5px 3px 5px 26px;
    color: #FB8919;
}

a.button_lock:hover span {
    background-position: bottom left;
    padding: 5px 3px 5px 26px;
    color: #005D8C;
}

a.active {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.active span {
    background-position: bottom left;
    padding: 5px 3px 5px 26px;
    color: #BC2A4D;
}


a.icon_nav {
    background: transparent url('../images/buttons/icon_nav_right.png') no-repeat scroll top right;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 24px;  /* this is 1/2 of the full button image height */
    margin-right: 6px;
    padding-right: 6px;
}

a.icon_nav:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_nav span {
    background: transparent url('../images/buttons/icon_nav_main.png') no-repeat;
    display: block;
    line-height: 14px;  /* line height + top padding + bottom padding should equal 1/2 of the full button image height */
    padding: 5px 0px 5px 8px;
    color: #005D8C;
}

a.icon_nav:hover span {
    background-position: bottom left;
    padding: 5px 0px 5px 8px;
    color: #005D8C;
}


a.icon_profile {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_profile:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_profile span {
    background: transparent url('../images/buttons/icon_user_profile.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 20px;
    color: #005D8C;
}

a.icon_profile:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 20px;
    color: #005D8C;
}

a.icon_contact_email {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_email:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_email span {
    background: transparent url('../images/buttons/icon_contact_email.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_contact_email:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_edit {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_edit:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_edit span {
    background: transparent url('../images/buttons/icon_post_edit.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 28px;
    color: #005D8C;
}

a.icon_edit:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 28px;
    color: #005D8C;
}

a.icon_quote {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_quote:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_quote span {
    background: transparent url('../images/buttons/icon_post_quote.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_quote:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_member_online {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_member_online:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_member_online span {
    background: transparent url('../images/buttons/icon_member_online.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 18px 4px 22px;
    color: #005D8C;
}

a.icon_member_online:hover span {
    background-position: bottom left;
    padding: 6px 18px 4px 22px;
    color: #005D8C;
}

a.icon_contact_aol {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_aol:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_aol span {
    background: transparent url('../images/buttons/icon_contact_aim.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_contact_aol:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_contact_icq {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_icq:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_icq span {
    background: transparent url('../images/buttons/icon_contact_icq.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_contact_icq:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_contact_skype {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_skype:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_skype span {
    background: transparent url('../images/buttons/icon_contact_skype.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_contact_skype:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_contact_yim {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_yim:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_yim span {
    background: transparent url('../images/buttons/icon_contact_yahoo.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 28px;
    color: #005D8C;
}

a.icon_contact_yim:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 28px;
    color: #005D8C;
}

a.icon_contact_msnm {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_msnm:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_msnm span {
    background: transparent url('../images/buttons/icon_contact_msnm.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_contact_msnm:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_contact_jabber {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_jabber:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_jabber span {
    background: transparent url('../images/buttons/icon_contact_jabber.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_contact_jabber:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_pm_reply {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_pm_reply:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_pm_reply span {
    background: transparent url('../images/buttons/button_pm_reply.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_pm_reply:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_contact_www {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_contact_www:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_contact_www span {
    background: transparent url('../images/buttons/icon_contact_www.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_contact_www:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_user_search {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_user_search:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_user_search span {
    background: transparent url('../images/buttons/icon_user_search.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_user_search:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_mod {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_mod:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_mod span {
    background: transparent url('../images/buttons/icon_mod.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_mod:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}






a.icon_toplist {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_toplist:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_toplist span {
    background: transparent url('../images/buttons/icon_pa_toplist.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_toplist:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_search {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_search:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_search span {
    background: transparent url('../images/buttons/icon_user_search.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_search:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 22px;
    color: #005D8C;
}

a.icon_stats {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_stats:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_stats span {
    background: transparent url('../images/buttons/icon_pa_stats.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_stats:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}


a.icon_va {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_va:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_va span {
    background: transparent url('../images/buttons/icon_pa_viewall.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_va:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_upload {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_upload:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_upload span {
    background: transparent url('../images/buttons/icon_pa_upload.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_upload:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}



a.icon_download {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_download:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_download span {
    background: transparent url('../images/buttons/icon_pa_download.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_download:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_rate {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_rate:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_rate span {
    background: transparent url('../images/buttons/icon_pa_rate.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_rate:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}



a.icon_pm {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_pm:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_pm span {
    background: transparent url('../images/buttons/icon_contact_pm.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_pm:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 27px;
    color: #005D8C;
}

a.icon_gallery {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_gallery:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_gallery span {
    background: transparent url('../images/buttons/icon_album.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_gallery:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_friend {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_friend:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_friend span {
    background: transparent url('../images/buttons/icon_user_profile.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_friend:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_blog {
    background: transparent url('../images/buttons/icon_right.gif') no-repeat scroll top right;
    display: block;
    float: left;
    font:bold 11px arial, sans-serif;
	letter-spacing:-.5px;
    height: 20px;
    margin-right: 6px;
    padding-right: 6px;
	text-transform:lowercase;
}

a.icon_blog:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.icon_blog span {
    background: transparent url('../images/buttons/icon_blog.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

a.icon_blog:hover span {
    background-position: bottom left;
    padding: 6px 3px 4px 24px;
    color: #005D8C;
}

.clear-fix {
    display: block;
    clear: both;
}

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix {display: inline-block;}  /* for IE/Mac */