/* Based on the original Style Sheet for the integrastyle v2 Theme for phpBB version 2+

/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Source Sans Pro",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #1a1f24; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #485664; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #11C0DF; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --contrast-color: #ffffff; /* The contrast color is used for elements when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #32475f;  /* The default color of the main navmenu links */
  --nav-hover-color: #839fbc; /* Applied to main navmenu links when they are hovered over or active */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #485664; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #11C0DF; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Template Custom Colors */
:root {
  --footer-background-color: #3a4753;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}
/* The content of the posts (body of text) */
body{background:#ecf0f6;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
}

/* General font families for common tags */
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}

/* General text */
.gensmall{font-size:10px}
.copyright{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#5c81b1}

/* General page style */
a:link,a:active,a:visited,a.postlink{color:#006699;text-decoration:none}
a:hover{color:#dd6900;}

a.boxtitle:link,a.boxtitle:active,a.boxtitle:visited{color:#DEEEF3;text-decoration:none;}
.boxtitle {color:#DEEEF3;}
a.boxtitle:hover{color:#dd6900;}

/* titles for the topics:could specify viewed link colour too */
.topictitle{font-size:11px;font-weight:bold}
a.topictitle:visited{color:#5493b4}
a.topictitle:hover{color:#dd6900}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:11px;font-weight: bold}

hr{border: 0px solid #ffffff;border-top-width:1px;height:0px}

/* Category gradients*/
td.cat{font-weight:bold;letter-spacing:1px;background:#d9e2ec url(../images/cellpic1.gif);
height:29px;text-indent:4px}

/* Main table cell colours and backgrounds */
.row1{background:#eaedf4}
.row2,.helpline{background:#d9e2ec}
.row3{background:#cedcec}
.row4{background:#FFFFFF}
td.spacerow{background:#cad9ea}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic{background:url(../images/cellpic2.jpg) #ffffff repeat-y}

/* Table Header cells */
th{background:#005eb2 url(../images/cellpic3.gif);color:#deeef3;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}

th a:link,th a:active,th a:visited,th a.postlink{color:#deeef3;text-decoration:none}
th a:hover{color:#dd6900;}

.head {width:98%; padding:0 20px;margin: 0 auto;}

/* This is the border line & background colour round the entire page */
.bodyline{
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
-khtml-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 5px;
border: solid 1px #BABABA;
background: #FFFFFF none repeat-x 0 0;
margin-bottom: 4px;
padding: 5px;
clear: both;
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.bodylinea{
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
-khtml-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 5px;
border: solid 1px #BABABA;
background: #EAEDF4 none repeat-x 0 0;
margin-bottom: 4px;
padding: 5px;
clear: both;
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

/* This is the outline round the main forum tables */
.forumline{
border-radius: 5px!important;
border: solid 1px #8CA3B7;
background: #EAEDF4 none repeat-x 0 0;
margin-bottom: 4px;
padding: 5px!important;
clear: both;
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.profileline{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: solid 1px #D9E2EC;
background: #D9E2EC none repeat-x 0 0;
margin-bottom: 4px;
padding: 5px;
clear: both;
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.profilelinea{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: solid 1px #BABABA;
background: #FFFFFF none repeat-x 0 0;
margin-bottom: 8px;
padding: 5px;
clear: both;
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#5c81b1;margin-left:12px;}

.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}
.postbody{font-size:12px;line-height:125%}

/* Location,number of posts,post date etc */
.postdetails{font-size:10px;color:#00396a}

/* Quote blocks */
.quotetitle,.quote {color:#475e61;font-size:11px;border: 1px solid #a4bad2;padding:2px 2px 3px 3px}
.quotetitle {background:#e1e7ec;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.quote {background:#fafafa;border-top-width:0;color:#cc6633;font-size:11px;margin:0 20px 10px 20px}
.quote {overflow:auto;height:100px}

/* Code blocks */
.codetitle,.code {border:1px solid #a4bad2;padding:2px 2px 3px 3px}
.codetitle {font-size:11px;background: #d8dfe4;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.code {background:#fafafa;border-top-width:0;color:#555;font:13px Courier,'Courier New',sans-serif;margin:0 20px 0 20px;line-height:110%}
.code {overflow:auto;height:100px}
.code {color:#2151AD}

/* PHP blocks */
.phptitle,.php {border:1px solid #a4bad2;padding:2px 2px 3px 3px}
.phptitle {font-size:11px;background: #d8dfe4;text-indent:2px;font-weight:bold;margin:10px 20px 0 20px}
.php {background:#fafafa;border-top-width:0;color:#555;font:13px Courier,'Courier New',sans-serif;margin:0 20px 0 20px;line-height:110%}
.php {overflow:auto;height:100px}
.php {color:#060}

/* This is for the error messages that pop up */
.errorline{background:#add8e6;border:1px solid #006699}

/* Form elements */
form{display:inline;}

input{font:11px Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:11px Verdana,Arial,Helvetica,sans-serif}

input.post,textarea.post{background:#ffffff;border:1px solid #000000;
font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

input.button,input.liteoption,.fakebut{border:1px solid #000000;background:#fafafa;font-size:11px}
input.catbutton{border:1px solid #000000;background:#fafafa;font-size:10px}
input.mainoption{border:1px solid #000000;background:#fafafa;font-size:11px;font-weight:bold}

a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}

/* This is the line in the posting page which shows the rollover
help line. Colour value in row2 */
.helpline{border:0 solid;font-size:10px}

/* This is the gradient background at the top of the page */


/* This is the gradient background at the top of the page */
.title	{background-color: #FFFFFF;background-image: url(../images/cellpic3.gif);}
.topbkg	{background-color: #EAEDF4;}
.topnav{font-size:10px;background: #81BBFB url(../images/cellpic_nav.gif) repeat-x; height:25px;text-align:center;}
td.qnav{white-space:nowrap;text-align:center;width:100%;}
.qb  { background: #d1d7dc url(../images/cellpic_nav.gif) top center repeat-x; height: 25px; width:100%; }

.headerdiv{background: url(../images/cellpic_div.gif) repeat-x;
height:3px;white-space:nowrap;}

/* Admin & Moderator Colours MODification */
.admin,.mod{font-size:11px;font-weight:bold}
.admin,a.admin,a.admin:visited{color:#ffa34f}
.mod,a.mod,a.mod:visited{color:#006600}
a.admin:hover,a.mod:hover{color:#dd6900}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}

.top span{display: block;width:20px;height:25px;background: url(../images/btm.gif) no-repeat;}

.btm span{display: block;width:20px;height:25px;background: url(../images/top.gif) no-repeat;}

/*-- mod : profile cp --*/
.foundercolor, a.foundercolor, a.foundercolor:link, a.foundercolor:active, a.foundercolor:visited {
	color: #FF0000;
	font-weight: bold;
}
a.foundercolor:hover {
	color:	#FF0000;
	text-decoration: underline;
}
.jadmincolor, a.jadmincolor, a.jadmincolor:link, a.jadmincolor:active, a.jadmincolor:visited {
	color: #129DED;
	font-weight: bold;
}
a.jadmincolor:hover {
	color:	#129DED;
	text-decoration: underline;
}
.admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited {
	color: #FFA34F;
	font-weight: bold;
}
a.admincolor:hover {
	color:	#FF0000;
	text-decoration: underline;
}

.modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited {
	color: #006600;
	font-weight: bold;
}
a.modcolor:hover {
	color:	#008000;
	text-decoration: underline;
}

.usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {
	color : #000000;
	font-weight: bold;
}
a.usercolor:hover {
	color: #DD6900;
	text-decoration: underline;
}
/*-- fin mod : profile cp --*/

abbr, acronym {
	font-weight: bold;
	text-decoration: overline;
	cursor: help;
}

.acronym{background:#FFFFCC}

.alert{color:#FF3300}

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(../images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(../images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(../images/tb4_r.gif) no-repeat;width:8px}

#rightborder{
	border-right:1px solid #CECECE;
	background: #eaedf4;
    width:10px;
}
.rightborder1{
	border-right:1px solid #CECECE;
}
.leftcolumn1{
	background: #eaedf4;
}
.leftcolumn{
	background: #eaedf4;
	margin-top:0px;
}

.headerbot3{background: url(../images/header_bot3.gif) repeat-x;width:100%}
.rightheader{background:#005eb2 url(../images/cellpic3.gif);color:#deeef3;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}
.forumline2{background:#ffffff;border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc}
.blocktitle{font-size:18px;font-weight:bold;color:#f26521}
.sideblocktitle{font-size:13px;font-weight:bold;color:#0066CC;padding:10px 0 5px 0;}

.blkt{border-collapse:collapse;height:15px;width:100%}
.blktl{background: url(../images/blocktl.gif) no-repeat;width:10px}
.blktm{background: url(../images/blockt.gif) repeat-x;width:100%}
.blktr{background: url(../images/blocktr.gif) no-repeat;width:10px}

.blkb{border-collapse:collapse;height:17px;width:100%}
.blkbl{background: url(../images/blockbl.gif) no-repeat;width:62px}
.blkbm{background: url(../images/blockb.gif) repeat-x;width:100%}
.blkbr{background: url(../images/blockbr.gif) no-repeat;width:10px}

.mainmenu, a.mainmenu, a.mainmenu:link, a.mainmenu:active, a.mainmenu:visited {
    display: inline ;
	white-space: nowrap;
	padding-top: 11px;
	padding-bottom: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
a.mainmenu:hover {
	color:	#FFFF00;
	text-decoration: none;
}
.date-future, .last-post b { color: #F8BA00; font-size: 11px; font-weight: normal; }
.date-today, .last-post b { color: #BA1A1A; font-size: 11px;  font-weight: normal; }
.date-yesterday, .last-post em { color: #189E35; font-size: 11px;  font-weight: normal; }

/* Mighty Gorgon - Full Album Pack - BEGIN */
.forumline_left {
	background-color: #EAEDF4;
	border-bottom: 2px #006699 solid;
	border-left: 2px #006699 solid;
}

.tab_links, a.tab_links:hover, a.tab_links:link, a.tab_links:active, a.tab_links:visited { 
	font-size: 11px;
	color: #FF8866; 
	text-decoration: none;
}

.tab_links_unsel, a.tab_links_unsel:hover, a.tab_links_unsel:link, a.tab_links_unsel:active, a.tab_links_unsel:visited { 
	font-size: 11px;
	color: #FFFFAA; 
	text-decoration: none;
}

a.tab_links:hover, a.tab_links_unsel:hover { 
	text-decoration: underline;
}

.tab_headers, th.tab_headers {
	color: #FF8866; 
	font-size: 11px; 
	font-weight : bold;
	padding-left: 4px;
	padding-right: 8px;
	border: #003366; 
	border-style: solid; 
	border-width: 1px 1px 0px 1px;
	background-color: #006699;
}

.tab_headers_unsel, th.tab_headers_unsel {
	color: #FFFFAA; 
	font-size: 11px; 
	font-weight : bold;
	padding-left: 4px;
	padding-right: 8px;
	border: #336699; 
	border-style: solid; 
	border-width: 1px 1px 0px 1px;
	background-color: #6699AA;
}

.tab_border {
	background-color: #888888;
	border: 1px;
}

.filler, th.filler {
	background-color:#6699AA; 
	background-image:none;
}

.picframe{
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 2px 6px 2px 6px;
	position: relative;
	bottom: 2px;
	right: 2px;
}

.picshadow{
	background-color: #888888;
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
}
/* Mighty Gorgon - Full Album Pack - END */

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(../images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(../images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(../images/tb4_r.gif) no-repeat;width:8px}

#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%	
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
}

.clear-fix {
    display: block;
    clear: both;
}

 .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }

.clearfix {display: inline-block;}  /* for IE/Mac */

.space {
	margin: 4px auto 10px auto;
}

.openclose {
    background: transparent url('../images/icon_openclose.png') no-repeat;
    display: block;
	float:right;
	width:15px;
	height:15px;
}

.finews {
    height: 20px;
    text-align: center;
}

a.kb {
    background: transparent;
    display: block;
    float: left;
    font: bold 40px 'Nunito', sans-serif;
	text-shadow: 2px 2px 2px #0088FF;
    height: 75px;
    margin-right: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	text-transform:capitalize;

}

a.kb:hover {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
    text-decoration: none;
}

a.kb span {
    display: block;
    line-height: 65px;
    padding: 6px 20px 4px 30px;
    color: #EAEDF4;
	appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
}

a.kb:hover span {
    background-position: bottom left;
    padding: 6px 20px 4px 30px;
}

ul.lft{padding:0px;margin:0px;list-style-type: none;display: inline-block;}
li.pcpvt {display: inline-block;vertical-align: bottom;}

.bdr {border: 2px solid red !important;}

div.nw, span.nw {
  white-space: nowrap !important;
} 

div.resp-add {
  display: hidden;
}

/* nav menu */
div.menu ul.menu li.menu-item.active > .submenu {
	display: block;
}

.menu {
    background: #d1d7dc url(../images/cellpic_nav.gif) top center repeat-x; 
	height: 25px; 
	width:100%;	
}

.menu ul, .menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
.menu ul {
	width: 100%;
	text-align: center;
}
.menu li {
	display: inline-block;
	position: relative;
}
.menu a {
	display: block;
	line-height: 25px;
	padding: 0 14px 0 14px;
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}
.menu a.dropdown-arrow:after {
	content: "\25BF";
	margin-left: 5px;
}

.menu li a:hover {
	color: #FFFF00;
}

.menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 25px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
.menu label {
	display: none;
	line-height: 25px;
	text-align: center;
	position: absolute;
	left: 0px
}
.menu label:before {
	font-size: 1.1em;
	content: "\2261"; 
	margin-left: 20px;
	color: #FFFFFF;
}
.menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 230px;
	position: absolute;
	z-index: 99;
	display: none;
	background: #DCE5EE;
}
.menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
.menu ul.sub-menus a {
	font-size: 13px;
	color: #444444;
}
.menu ul.sub-menus a:hover{
	background: #5A5A5A;
	color: #FFFFFF;
}

.menu li:hover ul.sub-menus {
	display: block
}

.right-arrow, .style {
	float: right;
}	

.left-arrow {
	float: left;
}
@media screen and (max-width: 800px){
	.menu ul {background:#CCCCCC;}
	.menu input:checked + label {color:#FFFFFF}
	.menu input:checked + label:before {content:"\00d7"}
}

@media only screen and (min-width: 360px) and (max-width: 800px) {
	.sm-right-arrow, .sm-style {display: inline-block; position: relative; float: right !important;}
	li.arrows, .style {display: none !important;}
    .menu .responsive-menu {width:70%}
	.menu {position:relative}
	.menu ul {position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	.menu ul.sub-menus {width:100%;position:static;}
	.menu ul.sub-menus a {padding-left:30px;}
	.menu li {display:block;float:none;width:auto;}
	.menu input, .menu label {position:absolute;top:0;left:0;display:block}
	.menu input {z-index:4}
	.menu input:checked + label:before {content:"\00d7"}
	.menu input:checked ~ ul {display:block}
}
@media only screen and (min-width: 800px) {
    .sm-right-arrow, div.sm-style {display: none !important;}

}
.img-span {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



@media only screen and (max-width: 767px) {
    html { 
    -webkit-text-size-adjust: 100%;
    }
	.topics, .posts, .views, .replies, .searchbar {
	  display: none;
	}
}

@media only screen and (max-width: 400px) {
	.author {
		display: none;
	}
}