html{
	font-size:100%;
	margin-bottom:1px;
}

body{
	font-family:Verdana,Helvetica,Arial,sans-serif;
	font-size:13px;
}

/* General text */
.forumline { font-size : 0.923em !important; }
.gen, th, .th, .cattitle, .thHead, .catHead { font-size : 0.88em !important; }
.genmed { font-size : 0.833em !important; }
.gensmall { font-size : 0.795em !important; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }

p, td		{ font-size : 0.833em; }
   
