html{font-size:100%;margin-bottom:1px;}


/* General page style */
a:link,a:active,a:visited,a.postlink{text-decoration:none;}
a:hover{text-decoration:none;}

/* titles for the topics:could specify viewed link color too */
.topictitle{font-size:1em;font-weight:bold;}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:0.917em;font-weight: bold;}

/* This is the gradient background at the top of the page */
.topnav, .btmnav{font-size:0.833em;height:22px; padding: 2px 0 1px 0;border-style:solid;border-width: 1px 0px 1px 0px;}
.qnav{white-space:nowrap;width:100%;text-decoration:none;}
.qb  {font-size:0.833em;white-space:nowrap;border-style:solid;border-width: 1px 0px 1px 0px;}
.cv {position: relative;top: 4%;transform: translateY(-4%);height:3em;}
.bcv {position: relative;top: 4%;transform: translateY(-4%);height:3em;}
.fr {position:relative;float:right;}
.openclose {display: block;float:right;width:15px;height:15px;}
.space {margin:4px auto 10px auto;}
.center {text-align:center;}
.pad {padding: 0 2px;}
hr{border-top-width:1px;height:0px;}

/* Category gradients*/
.cat,.catHead,.catSides,.catLeft,.catRight,.catBottom {font-weight:bold;letter-spacing:1px;height:29px;text-indent:4px;}

/* Table Header cells */
th, .th{font-size:0.917em;font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px;}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#839fbc;margin:0 0 0 20px;}
.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:1.1em;font-weight:700;}
.postbody{font-size:1.2em;line-height:125%;}

/* Location,number of posts,post date etc */
.postdetails{font-size:.95em;}

/* Quote blocks */
.quotetitle,.quote {font-size:0.917em;padding:2px 2px 3px 3px}
.quotetitle {text-indent:2px;font-weight:bold;margin:10px 10px 0 10px}
.quote {border-top-width:0px;font-size:0.917em;margin:0 10px 10px 10px}
.quote {overflow:auto;height:40px}

/* Code blocks */
.codetitle,.code {padding:2px 2px 3px 3px}
.codetitle {font-size:0.917em;text-indent:2px;font-weight:bold;margin:10px 10px 0 10px}
.code {border-top-width:0;font:1.083em Courier,'Courier New',sans-serif;margin:0 10px 0 10px;line-height:110%}
.code {overflow:auto;height:40px}

/* PHP blocks */
.phptitle,.php {padding:2px 2px 3px 3px}
.phptitle {font-size:0.917em;text-indent:2px;font-weight:bold;margin:10px 10px 0 10px}
.php {border-top-width:0px;font:1.083em Courier,'Courier New',sans-serif;margin:0 10px 0 10px;line-height:110%}
.php {overflow:auto;height:40px}

/* Form elements */
form{display:inline}
input, select{font:1em Verdana,Arial,Helvetica,sans-serif}
input.post,textarea.post{font:1em Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}
input.button,input.liteoption,.fakebut{font-size:0.917em}
input.catbutton{font-size:.95em}
input.mainoption{font-size:1em;font-weight:bold}
a.but,a.but:hover,a.but:visited{text-decoration:none}

/* This is the line in the posting page which shows the rollover
help line. Color value in row2 */
.helpline{border:0px;font-size:.9em}

/*-- mod : profile cp --*/
.foundercolor, a.foundercolor, a.foundercolor:link, a.foundercolor:active, a.foundercolor:visited, .jadmincolor, a.jadmincolor, a.jadmincolor:link, a.jadmincolor:active, a.jadmincolor:visited, .admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited, .modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited, .usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {font-weight: bold;}
a.foundercolor:hover, a.jadmincolor:hover, a.admincolor:hover, a.modcolor:hover, a.usercolor:hover {text-decoration: underline;}
/*-- fin mod : profile cp --*/

/* Admin & Moderator Colors MODification */
.admin,.mod{font-size:1em;font-weight:bold}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}

.abbr, .acronym {font-weight: bold;text-decoration: overline;	cursor: help;}

/* Mighty Gorgon - Full Album Pack - BEGIN */
.forumline_left {border-top:0px;border-bottom:2px;border-right:0px;border-left:2px;border-style:solid;}
.tab_links, a.tab_links:hover, a.tab_links:link, a.tab_links:active, a.tab_links:visited {font-size: 0.917em;text-decoration: none;}
.tab_links_unsel, a.tab_links_unsel:hover, a.tab_links_unsel:link, a.tab_links_unsel:active, a.tab_links_unsel:visited {font-size: 0.917em;text-decoration: none;}
a.tab_links:hover, a.tab_links_unsel:hover {text-decoration: underline;}
.tab_headers, th.tab_headers {font-size:0.917em;font-weight:bold;padding-left:4px;padding-right:8px;border-style:solid;border-width:1px 1px 0px 1px;}
.tab_headers_unsel, th.tab_headers_unsel {font-size:0.917em;font-weight:bold;padding-left:4px;padding-right:8px;border-style:solid;border-width:1px 1px 0px 1px;}
.tab_border {border:1px;}
.filler, th.filler {background-image:none;}
.picframe{display:block;padding:2px 6px 2px 6px;position:relative;bottom:2px;right:2px;}
.picshadow{color:inherit;margin-left:4px;margin-top:4px;}
/* Mighty Gorgon - Full Album Pack - END */

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{width:8px}
.tblbot{width:100%}
.tblr{width:8px}

.clear-fix {display:block;clear:both;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}  /* for IE/Mac */

.openclose {display:block;float:right;width:15px;height:15px;}

li.pcpvt{list-style:none !important;}
.pcp {margin: 2px 0 2px 0;}

a.kb {display: block;float: left;font: bold 40px 'Nunito', sans-serif;height: 75px;margin-right: 20px;padding-right: 20px;padding-bottom: 20px;text-transform:capitalize;}
a.kb:hover {background-position: bottom right;outline: none;text-decoration: none;}
a.kb span {display:block;line-height: 65px;padding: 6px 20px 4px 30px;appearance:button;-moz-appearance:button;-webkit-appearance:button;}
a.kb:hover span {background-position:bottom left;padding:6px 20px 4px 30px;}

.bx {display:table-cell;padding:3px 10px;}

ul.uct {
  list-style-type: none;
  line-height:2em;
  display:inline-block;
    
}
.tbx ul {display: inline}
.uct li {position:relative;float:left;margin:0 .11em;vertical-align: middle;}
.lft {position:relative; float:left !important;}
.rt {position:relative; float:right !important;}
.pcpvt {vertical-align:bottom !important;}
.one {list-style-type: none;margin:0px;padding:0px;height:18px !important;}
.date-today, .last-post b {font-weight: bold; }
.date-yesterday, .last-post em {font-weight: bold; font-style: italic; }

/* css buttons */
.genbtn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-size: 1em !important;
  font-weight:600;
  padding: 5px 5px 0px 8px;
  text-decoration: none;
  text-transform: lowercase;
  margin-left:2px;
}
.postbtn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-size: 0.917em;
  font-weight:600;
  padding: 3px 16px 5px 16px;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: -.9px;
  margin:2px;
}
.postbtnsml {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-size: .9em;
  font-weight:600;
  padding: 2px 12px 4px 12px;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: -.9px;
}
.postbtn:hover, .postbtnsml:hover .genbtn:hover{text-decoration: none;}

.fa-twatch:before {content: "\f06e";}
.fa-tnext:before {content: "\f061";}
.fa-tprev:before {content: "\f060";}
.fa-tno {display:none}
i.fa-ann { margin: -4px 0px 4px 0px !important;}
i.faa {font-size: 0.5em !important; margin: -10px 6px 5px -6px !important;}
a i.fab {font-size: 0.75em !important; margin: 4px 0px 0px 2px !important;}
i.stack { margin: -8px -1px 8px 1px;}
li.move { margin: -3px 0px 0px 0px !important;}
.fa1x {font-size: 1.0em !important;}
.fa-1-5x {font-size: 1.5em !important;}
.fa-21 {font-size: 2.1em !important;}
.up1 {font-size: 1.5em !important;}
.up2 {font-size: 2em !important;}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

}
.bcard:before {
  content: "\f096";
  color:#2656BE;
}
.bhotcard:before {
  content: "\f071";
  color:#E4B016;
}
.gcard:before {
  content: "\f071";
  color:#56B95B;
}
.rcard:before {
  content: "\f071";
  color:#D7282D;
}
.rycard:before {
  content: "\f017";
  color:#D7282D;
}
.ycard:before {
  content: "\f071";
  color:#DBE850;
}

.bdr {border: 1px solid black !important;}

.ctr {width: 100%; text-align: center!important;}

div.nw, span.nw {
  white-space: nowrap !important;
} 

div.resp-add {
  display: hidden;
}

   	@media only screen and (max-width: 736px) {
	div.iresp { display:none;}

}
   	@media only screen and (max-width: 475px) {
	div.resp { display:none;}
	div.respnav { display:block !important;}
}
   	@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation : portrait) {
	div.resp { display:none;}
	div.respnav { display:block !important;}
}

   	@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}

	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}

	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}

	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}

	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}

	@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}

	@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
	div.resp {display:none;}
	div.respnav { display:block !important;}
}