a{
	font-weight:bold;
	text-decoration:none;
	color: #455995;
}
a:visited {
	 		color: #303F6B; 
	 		}
a:hover, a:active { color: #FF1010; }
 a.nav-current, a.nav-current:visited {
	color: #FF1010;
}
body
{ 

	background-color: #F8F8F8;
	color: #000;
	font-family: Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif;
	font-size: 13px;
	margin: 20px;
	padding: 0px;
}

.content
{
	background: #F0F0F0;
	padding: 10px;
	margin-top:10px;
	border:1px solid gray;
}

.nav
{
	font-size: 13px;
	font-weight: bold;
}
.nav-current
{
	font-color: #455995;
	
}

.nav_toolbar
{
	background: #F0F0F0;
	border:1px solid gray;
	padding: 10px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;

}
.desc
{
	color: #555;
	font-size: 10px;
}

.index
{
	background: #FFFFFF;
	padding: 10px;
	margin-top:10px;
	border:1px dotted gray;
}

.forumline th {
	background-color: #E6E3E4;
	font-weight: bold;
	font-size: 11px;
	height: 24px;
	white-space: nowrap;
}
.forumline td {
	font-size: 11px;
	height: 24px;
}

.row1, .row2, .row3, .row4{
	background-color: #F8F8F8;
	border: solid 1px #FFF;
	border-right-color: #D6D6D6;
	border-bottom-color: #D6D6D6;
	text-align: left;
}
.gensmall {color: #555;font-size: 10px;}
.genmed {color: #555;font-size: 11px;}
.gen {font-size: 12px;}

div.whosonline{background: #FFFFFF;border: dotted 1px #888;color: #555;font-size: 10px;padding:10px;}
	
div.signature  {background: #FFFFFF;border: none;padding: 5px;}

.posttopbar {background-color: #E6E3E4;padding: 6px;}

.postname {font-weight: bold;font-size: 0.9em;width: auto;float:left;margin-top:-3px;}

.postinfo {font-size: 0.8em;width: auto;float:left;}

.postdate {width:auto;font-size: 0.8em;color: #555;text-align:right;}

.postedit {width:auto;font-size: 0.8em;text-align:right;}

.postwrapper {border:1px solid #E6E3E4;padding:1px;margin-bottom: 15px;}
.postcontent{padding: 6px;font-size: 13px;}

.quote {
	color: #444;
	display: block;
	margin: 5px 20px;
	width: auto;
	border: solid 1px #D0D0D0;
	background: #FFF;
	padding: 5px;
	font-size: 11px;
}


.code {
	color: #444;
	display: block;
	margin: 5px 20px;
	width: auto;
	border: solid 1px #D0D0D0;
	background-color: #FFF;
	padding: 5px;
	font-size: 12px;
	font-family: 'Courier New', sans-serif; color: #226622;
}

ul.posts {list-style-type: none;margin: 0;}

li.post { 
	border: solid 1px #999; 
	padding: 5px; margin-top: 5px; 
	background-color: #F8F8F8; 
	list-style-type: none;
	}

.pagination{
	text-align: right;
	font-size: 10px;
}
.administer{
	text-align: left;
	font-size: 10px;
}
.catBottom{
	text-align: center;
}

.bottom{
	
	text-align: right;

	padding: 3px 5px;
	font-size: 10px;
	line-height: 1.4em;
}

.bottom-left {
	position: relative;
	float: left;
	text-align: left;
}