
.icon-yahoo:before { content: '\e805'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-aim:before { content: '\e807'; } /* '' */
.icon-windows:before { content: '\e808'; } /* '' */
.icon-move:before { content: '\f08e'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */