/*
  The original subSilver Theme for phpBB version 2+
  Created by subBlue design
  http://www.subBlue.com
  **modified by ForumImages (http://forumimages.us)
*/

@import url("imsubIce.css");
@import url("icons.css");

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");